---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import clothes from "../images/clothes.jpeg";
import Calculator from "../components/vue/calculator.vue";

const pageTitle = "Layout page";
---

<Layout title="Welcome to Astro.">
  <div class="bg:gray-22 p:10 r:10 max-w:350">
    <img
      class="object:cover w:full square r:5"
      src={clothes}
      loading="lazy"
      alt="clothes"
    />
    <div class="mt:10 p:15">
      <div class="font:24 font:bold capitalize">texture crew sweater</div>
      <div class="font:14 font:gray-66 mt:5">Designed for on the move</div>
      <div class="mt:12 font:semibold">$120.0 USD</div>
      <div class="mt:12 flex gap:8">
        <button class="square w:40 h:40 font:0 round b:1|solid|gray-28 p:3">
          <div class="bg:white full round">white</div>
        </button>
        <button class="square w:40 h:40 font:0 round b:1|solid|gray-28 p:3">
          <div class="bg:#999 full round">white</div>
        </button>
        <button class="square w:40 h:40 font:0 round b:1|solid|gray-28 p:3">
          <div class="bg:#333 full round">white</div>
        </button>
      </div>
      <div
        class="mt:20 font:12 font:semibold letter-spacing:2 font:gray-66 uppercase"
      >
        size
      </div>
      <div class="mt:12 flex gap:8">
        <button class="p:10|15 r:3 font:14 font:semibold b:1|solid|gray-28"
          >XS</button
        >
        <button class="p:10|15 r:3 font:14 font:semibold bg:gray-28">S</button>
        <button class="p:10|15 r:3 font:14 font:semibold b:1|solid|gray-28"
          >M</button
        >
        <button class="p:10|15 r:3 font:14 font:semibold b:1|solid|gray-28"
          >L</button
        >
        <button class="p:10|15 r:3 font:14 font:semibold b:1|solid|gray-28"
          >XL</button
        >
      </div>
      <a
        class="font:gray-66 font:12 text:underline mt:20 inline-block"
        href="/"
      >
        Get delivery dates
      </a>
    </div>

    <Calculator />
  </div>
</Layout>
